---
import SpeedInsights from "@vercel/speed-insights/astro";

export type Props = {
  title: string | undefined;
  description?: string;
  canonicalUrl?: string;
};

const {
  title,
  description = "Website about TypeScript, React and all things fullstack.",
  canonicalUrl = new URL(Astro.url.pathname, Astro.site),
} = Astro.props;
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<meta name="format-detection" content="telephone=no" />
<meta name="title" content={title} />
<meta name="description" content={description} />

<link rel="canonical" href={canonicalUrl} />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link
  rel="alternate"
  href={new URL("rss.xml", Astro.site)}
  type="application/atom+xml"
/>
<link rel="sitemap" href="/sitemap-index.xml" />

<title>{title}</title>

<SpeedInsights />
