---
import Meta from "@/components/Meta.astro";
import Navbar from "@/components/Navbar.astro";
import PostDate from "@/components/PostDate.astro";
import Layout from "@/layouts/Layout.astro";
import { getCollection, type CollectionEntry } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("writing");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

type Props = CollectionEntry<"writing">;

const post = Astro.props;
const { Content } = await post.render();
---

<Layout>
  <Meta
    title={post.data.title}
    description={post.data.description}
    canonicalUrl={post.data.source?.url}
    slot="meta"
  />
  <Fragment slot="header">
    <Navbar />
    <div class="prose">
      <h1>
        {post.data.title}
      </h1>
      <div class="flex gap-x-2">
        {post.data.pubDate && <PostDate date={post.data.pubDate} format="long" />}
        {
          post.data.source?.url && (
            <>
              <span>•</span>
              <span>
                Originally published at{" "}
                <a href={post.data.source.url}>
                  {new URL(post.data.source.url).host}
                </a>
              </span>
            </>
          )
        }
      </div>
    </div>
  </Fragment>
  <Fragment slot="content">
    <article class="prose prose-a:underline prose-a:hover:opacity-70">
      <Content />
    </article>
  </Fragment>
</Layout>
