---
import BackHome from "@/components/back-home.astro";
import Meta from "@/components/meta.astro";
import Layout from "@/layouts/layout.astro";
import { getCollection, type CollectionEntry } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("writing");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

type Props = CollectionEntry<"writing">;

const post = Astro.props;
const { Content } = await post.render();
---

<Layout>
  <Meta
    title={post.data.title}
    description={post.data.description}
    canonicalUrl={post.data.source?.url}
    slot="meta"
  />
  <Fragment slot="header">
    <BackHome />

    <div class="article-header">
      <h1 class="article-title">
        {post.data.title}
      </h1>
      <div class="article-meta">
        <time datetime={post.data.pubDate?.toISOString()}>
          {
            post.data.pubDate?.toLocaleDateString("en-US", {
              month: "long",
              day: "numeric",
              year: "numeric",
            })
          }
        </time>
        {
          post.data.source?.url && (
            <>
              <span>•</span>
              <span>
                Originally published at{" "}
                <a href={post.data.source.url}>
                  {new URL(post.data.source.url).host}
                </a>
              </span>
            </>
          )
        }
      </div>
    </div>
  </Fragment>
  <Fragment slot="content">
    <article class="prose">
      <Content />
    </article>
  </Fragment>
</Layout>
