---
import Footer from "@/components/footer.astro";
import Link from "@/components/link.astro";
import Meta from "@/components/meta.astro";
import Nav from "@/components/nav.astro";
import { getAllWritings } from "@/helpers/get-all-writings";
import Layout from "@/layouts/layout.astro";

const writings = await getAllWritings();

const formatDate = (date: Date) => {
  const year = date.getFullYear();
  const month = String(date.getMonth() + 1).padStart(2, "0");
  const day = String(date.getDate()).padStart(2, "0");
  return `${year}-${month}-${day}`;
};
---

<Layout>
  <Meta title="Writing" slot="meta" />
  <Fragment slot="header">
    <Nav />
    <h1>Writing Archives</h1>
    <p><small>All articles organized by date.</small></p>
  </Fragment>
  <Fragment slot="content">
    <ul>
      {
        writings.map((post) => (
          <li>
            <Link href={`/writing/${post.slug}`}>
              {post.data.pubDate && (
                <time>{formatDate(post.data.pubDate)}</time>
              )}
              <span>{post.data.title}</span>
            </Link>
          </li>
        ))
      }
    </ul>
  </Fragment>
  <Fragment slot="footer">
    <Footer />
  </Fragment>
</Layout>
